<!DOCTYPE html>
<html>
<head>
  <title>产品分类</title>
  <% include includes/head_script %>
  <link rel="stylesheet" type="text/css" href="<%=STATIC_DOMAIN%>css/homev2.css" />
  <link rel="stylesheet" type="text/css" href="<%=STATIC_DOMAIN%>css/home-wap.css" />
</head>
<body>
  <% include includes/header %>
  <div class="wap-btn-area">
    <a href="" class="wap-btn">爱的许诺</a> 
    <a href="" class="wap-btn">一起旅行</a> 
    <a href="" class="wap-btn">献给品赏家</a> 
    <a href="" class="wap-btn">献给爱人</a> 
    <a href="" class="wap-btn">献给旅行家</a> 
    <a href="" class="wap-btn">环球经典</a> 
    <a href="" class="wap-btn">异国风味</a> 
    <a href="" class="wap-btn">分享时刻</a> 
    <a href="" class="wap-btn">来点气氛</a> 
    <a href="" class="wap-btn">梦想家</a> 
  </div>
  <!-- for-love  for-happy for-dream -->
  <div class="pro-content-area">
   <div class="pro-content clearfix">    
    <div class="pro-list-area fl-l">
      <%for(var i in catoData){%>
       <%for(var j=0;j<catoData[i].cato.length;j++){%>
         <h4 class="pro-list-title"><%=catoData[i].cato[j].title%></h4>
         <div class="clearfix">
         <%for(var m=0;m<catoData[i].cato[j].data.length;m++){%>
		<div class="pro-list-item">
		  <a href="/cake?id=<%=goodsData[catoData[i].cato[j].data[m]].goods_id%>"><img src="<%=goodsData[catoData[i].cato[j].data[m]].url%>"></a>
		  <h5><%=goodsData[catoData[i].cato[j].data[m]].goods_name%></h5>
		  <p><%=goodsData[catoData[i].cato[j].data[m]].goods_desc%></p>
		</div>
         <%}%>
	 </div>
       <%}%>
    <%}%>
    </div>
   </div>
  </div>
  <% include includes/footer_nav %>
</body>
</html>