<!DOCTYPE html>
<html>
<head>
  <title>产品分类</title>
  <% include includes/head_script %>
  <link rel="stylesheet" type="text/css" href="<%=STATIC_DOMAIN%>css/home-wap.css" />
  <link rel="stylesheet" type="text/css" href="<%=STATIC_DOMAIN%>css/dialog.css" />
  <link rel="stylesheet" type="text/css" href="<%=STATIC_DOMAIN%>css/dialog-wap.css" />
</head>
<body>
<div id="app_main" class="app-main app-nav">
  <% include includes/header_v2 %>
  <div class="scroll-area" style="padding-top:60px;">
  <div class="wap-btn-area tl-c">
    <%for(var i in catoData){%>
          <a href="#<%=catoData[i].cls%>" data-cato="<%=catoData[i].cls%>" class="wap-btn sub_nav" style="margin-right:2px;padding-left:10px;padding-right:10px"><%=catoData[i].name%></a> 
    <%}%>
  </div>
  <!-- for-love  for-happy for-dream -->
  <div class="pro-content-area">
      <%for(var i in catoData){%>
        <div class="pro-content clearfix cato_frame" id="<%=catoData[i].cls%>" style="display:none">    
	    <div class="pro-list-area fl-l">
	       <%for(var j=0;j<catoData[i].cato.length;j++){%>
		 <a class="pro-list-title" name="<%=catoData[i].cato[j].name%>"><%=catoData[i].cato[j].title%></a>
		 <div class="clearfix">
		    <%for(var m=0;m<catoData[i].cato[j].data.length;m++){%>
		       <%if(goodsData[catoData[i].cato[j].data[m]]){%>
			<div class="pro-list-item">
			  <a class="list_item" href="/cake?id=<%=goodsData[catoData[i].cato[j].data[m]].goods_id%>">
			  <img class="lazyload" id="cvs_<%=i%>_<%=j%>_<%=m%>" data-src="<%=goodsData[catoData[i].cato[j].data[m]].url%>" style="margin:0 auto;z-index:1;width: 140px;">
			  </a>
			  <h5><%=goodsData[catoData[i].cato[j].data[m]].goods_name%></h5>
			  <p><%=goodsData[catoData[i].cato[j].data[m]].goods_desc%></p>
			</div>
		        <%}%>
		    <%}%>
		 </div>
	       <%}%>
	   </div>
       </div>
    <%}%>
  </div>
</div>
  
</div>
</body>
<script>

(function(){
        var catoFrame = $('.cato_frame');
        catoFrame[0].style.display = 'block';
        $('.sub_nav')[CLICK](function(){
	  var id = $(this).data('cato');
	  if(id=='for-dream'){
		location.href = '/cake?id=68';
		return;
	  }
	  var cur = $('#'+id);
	  catoFrame.hide();
	  cur.show();
	  cur.addClass('animated-quick slideInRight');
	  setTimeout(function(){
		renderCvs(cur);
	  },200);
	  return false;
	});

	$('.list_item')[CLICK](function(){
	  M.loading();
	  location.href = $(this).attr('href');
	  return false;
	});
	var renderCvs = function(parent,max){
		var lazyloadImage = $('.lazyload',parent);
		if(lazyloadImage.length<1){
		   return;
		}
		var max = max||lazyloadImage.length;
		for(var i=0;i<max;i++){
		    var img = new Image();
		    img.id = lazyloadImage[i].id;
		    img.onload = function(){
		        
			var zCvs = $('#'+this.id);
			var domCvs = zCvs[0];

			domCvs.src = this.src;
			//var cvs = domCvs.getContext('2d');
			//domCvs.width = '140';
			//domCvs.height = '108';
			//cvs.drawImage(this,0,0,140,108);
			domCvs.className='animated fadeIn';
			//domCvs.style.display = 'block';
			zCvs.removeClass('lazyload');
		    }
		    img.src = lazyloadImage[i].getAttribute('data-src');
		}
	}
	renderCvs(catoFrame[0]);
})();

</script>
</html>